.home-detail-about {
  font-style: italic;
  font-weight: 500;
  max-width: 80%;
  color: #767676;
}

@media (max-width: 760px) {
  .home-detail-about {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .home-detail-about {
    font-size: 15px;
    line-height: 1.2em;
  }
}
