@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@0,600;1,500&display=swap');
.home-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    padding: 80px 10%;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
    
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;
}
.heading >h1{
    font-family:'Baloo Tammudu 2', cursive;
    color: aliceblue;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    margin: 10px;
}
.heading>h4{
    font-family:'Baloo Tammudu 2', cursive;
    color: aliceblue;
    font-size: 26px;
    font-weight: 600;
    margin: 10px;
}
.head-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    align-items: center;
    margin: 25px 35px;
    justify-content: space-between;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 2px 36px;
    border: 1px solid white;
    height: 50px;
    left:0px;
    top:0px;
    text-decoration: none;
    border-radius: 39px;
    margin: 4px;
    min-width: 150px;
    box-shadow: 0px 0px 0px black;
}

.btn-white{
    background-color: aliceblue;
    color: black;

}
.btn-text{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}
.btn-trans{
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;

}
.image{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.profpic{
    
        border-radius:50%;
        height: 250px;
        width: 250px;
        animation: corner 5s infinite ease-in;
        transition: all 3s ease-in-out;
        border: 5px double rgb(86, 86, 255);
        

}
@keyframes corner {
    0%
    {
        border-top-right-radius: 49%;
        border-bottom-left-radius: 49%;
        border-top-left-radius: 49%;
        border-bottom-right-radius: 51%;
    }
    25%
    {
      border-top-right-radius:42%;
        border-bottom-left-radius: 46%;
        border-top-left-radius: 60%;
        border-bottom-right-radius: 63%;
    }

    50%
    {
        border-top-right-radius: 39%;
        border-bottom-left-radius: 42%;
        border-top-left-radius: 67%;
        border-bottom-right-radius: 77%;
    }
    75%{
      border-top-right-radius: 45%;
        border-bottom-left-radius: 48%;
        border-top-left-radius: 53%;
        border-bottom-right-radius: 55%;
    }
    100%
    {
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}
.image2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.article {
	max-width: 900px;
	margin: auto;
}
blockquote {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em ;
	font: italic 1.2rem ;
	background:  no-repeat left;
	border-radius: 8px;
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;
}
.headings
{
    
        width: max-content;
        margin: -3px auto 1.6em;
        box-shadow:
		0 1px 0 white;
        font: 1.4rem ;
        font-size: 22px;
    
}

blockquote>p{
    
    color: white;
    font-size: 17px;
    font-style: italic;
    font-weight: 900;
}
.column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media (min-width: 768px) {
	blockquote {
		margin: 40px 60px;
	}
}
blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}

blockquote::after {
	content: "â";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}
.spinner {

    margin: 100px auto;
    width: 90px;

    height: 90px;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: space-between;

}

.spinner>div {

    background-color: rgb(245, 240, 240);

    height: 100%;
    width: 9px;
    
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

}

.spinner .rect2 {

    -webkit-animation-delay: -1.1s;

    animation-delay: -1.1s;

}

.spinner .rect3 {

    -webkit-animation-delay: -1.0s;

    animation-delay: -1.0s;


}

.spinner .rect4 {

    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;

}

.spinner .rect5 {

    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;

}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }

}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {

        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);

    }

    20% {

        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);

    }

}
.image2 >h1
{
color: rgb(132, 251, 255);
}
.anime{
    width: 450px;
    margin-bottom: -80px;
}
.btn:hover{
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 31px rgb(185, 180, 180);
}

@media only screen and (max-height:550px){
    .anime{
        width:440px;
    }
}
@media only screen and (max-width:600px){
    .anime{
        width:80%;
        align-self: center;
        margin-bottom: -20px;
    }
    .home-container
    {
        padding: 80px 3%;
    }
    .head-btns{
        margin: 10px 10px 15px 10px;
    }
    .heading >h1
    {
        font-size: 1.8em;
        margin: 5px;
    }
    .profpic{
    height: 180px;
    width: 180px;
    }
}